.sidebar{
    height: 100%;
    background-color: #fff;
    flex: 0.2;
    padding: 20px;
    border-right: 1px solid #bfbdbd;
}

.sidebar__header{
    margin: 30px 0 20px 0;
    font-size: 25px;
}

.sidebar__users{
    margin-bottom: 10px;
    padding-left: .5rem;
    color: #607eaa;
    font-size: 14px;
    list-style: none;
}

.sidebar__users > li {
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar__user{
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.sidebar__user-status{
    background: #8b0000;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    height: 6px;
    width: 6px;
}

.sidebar__user-active {
    background: #32cd32;
}