.sidebar{
    height: 100%;
    background-color: #fff;
    flex: 0.2;
    padding: 20px;
    border-right: 1px solid #bfbdbd;
}

.sidebar__header{
    margin: 30px 0 20px 0;
    font-size: 25px;
}

.sidebar__users{
    margin-bottom: 10px;
    color: #607eaa;
    font-size: 14px;
    list-style: none;
}

.sidebar__users > li {
    margin-bottom: 20px;
    cursor: pointer;
}