$bg:#1a1f25;
$button:#e6b333;
$border:#22272d;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    min-width: 320px;

    background:$bg;
  }

body{
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}