.chat{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.main{
    flex: 2;
}

.chat__noAuth{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.chat__noAuth-container{
    text-align: center;
}

.chat__noAuth-text{
    color: red;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.chat__noAuth-link{
    display: block;
    font-size: 1.2rem;
    color: #a1c5f9;
}

.chat__footer{
    margin-top: 5vh;
    height: 5vh;
    background-color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chat__footer-rs{
    height: 4vh;
    display: flex;
    align-items:center;

}
.chat__footer-rs img{
    height: 100%;
    width: auto;
    margin-right: 1rem;
}